@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;

.projects {
  margin: auto;
  display: flex;
    justify-content: center;
    flex-direction: row;
  &__container {
    
    padding: 10rem 5rem 0;
    @include small-desktop{
      padding: 8rem 4rem 0;
    }
    @include tablet{
      flex-direction: column;
      padding: 6rem 3rem 0;
      width: 90%;
    }
    @include mobile{
      padding: 3rem 0 0;
      width: 95%;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  &__title {
    padding: 0 0 3rem;
    border-radius: 20rem;
    font-size: 4rem;
    font-weight: 700;
    color: $green-color-primary;
    @include small-desktop{
      font-size: 3.5rem;
      padding: 0 0 2rem;
    }
    @include tablet {
      font-size: 4rem;
      padding: 0 0 2rem;
    }
    @include mobile {
      font-size: 3rem;
      padding: 0 0 1rem;
    }
  }
  &__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include small-desktop{
      gap: 1.5rem;
    }
    @include tablet{
      gap: 1.5rem;
       grid-template-columns: 1fr 1fr;
    
    }
    @include mobile{
      gap: 2rem;
      grid-template-columns: 1fr;
   }
  }
}

.project__card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-0.75rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  }
  &-image {
    background-color: $green-color-tertiary;
    height: 15rem;
    width: auto;
    object-fit: cover;
  }
  &-title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
    border-bottom: 4px solid $green-color-secondary;
    background-color: $green-color-tertiary;
    padding: 1.5rem;
    @include small-desktop{
      font-size: 1.75rem;
      padding: 1.5rem;
    }
    @include tablet{
      font-size: 2rem;
      padding: 1.5rem;
    }
    @include mobile{
      font-size: 1.5rem;
      padding: 1.5rem;
    }
  }
  &-intro {
    font-size: 1.25rem;
    color: $green-color-accent;
    padding: 1.5rem;
    line-height: 1.5rem;
    @include small-desktop{
      font-size: 1.25rem;
      padding: 1.5rem;
    }
    @include tablet{
      font-size: 1.5rem;
      padding: 1.5rem;
      line-height: 1.75rem;
    }
    @include mobile{
      font-size: 1.25rem;
      padding: 1.5rem;
      line-height: 1.5rem;
    }
  }
  &-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 1.5rem 1.5rem;
    &-item {
      background-color: $green-color-secondary;
      color: $color-white;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: 500;
      @include small-desktop{
        font-size: 0.75rem;
      }
      @include tablet{
        font-size: 1rem
      }
      @include mobile{
        font-size: 0.75rem;
      }
    }
  }
  &-links {
    display: flex;
    flex-direction: column;
    margin: auto 1.5rem 1.5rem;
    font-size: 1.25rem;
    @include small-desktop{
      font-size: 1rem;
    }
    @include tablet{
      font-size: 1.5rem;
    }
    @include mobile{
      font-size: 1.25rem;
    }
    &-learnmore {
      cursor: pointer;
      text-align: center;
      background-color: $green-color-primary;
      color: $color-white;
      padding: 0.7rem 1rem;
      border-radius: 2rem;
      font-weight: 600;
      transition:
        background-color 0.3s ease,
        padding 0.3s ease;
        
      &:hover {
        background-color: $green-color-secondary;
        padding: 0.8rem 1.1rem;
      }
    }
    &-group {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        text-align: center;
        background-color: $green-color-primary;
        color: $color-white;
        padding: 0.7rem 1rem;
        margin-top: 1.5rem;
        border-radius: 2rem;
        font-weight: 600;
        transition:
          background-color 0.3s ease,
          padding 0.3s ease;
        &:hover {
        background-color: $green-color-secondary;
        padding: 0.8rem 1.1rem;
      }
      }
      a[href="#"] {
        display: none;
      }
    }
  }
}
