$white: #FFFFFF;
$color-white: #FAFAFA;

//green color palette
$green-color-base: #111A1B;
$green-color-tertiary: #1A2D28;
$green-color-primary: #144E2D;

// $green-color-secondary: #24A346;
//  $green-color-secondary: #1E8A3B;
$green-color-secondary: #187532;
//  $green-color-secondary: #2E8F4B;
$green-color-secondary-light: #3FAF5F;


$green-color-accent-light: #7B929F;
$green-color-accent: #5F7684;
//$green-color-accent: #4F6673;;