@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;

.about {
  display: flex;
  justify-self: center;
  padding: 4rem 0 4rem;
  width: 80%;
  &__container {
    overflow: hidden;
    border-radius: 2rem;
    padding: 6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: $green-color-primary;
    padding-bottom: 4rem;
  }
  &__card-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  &__card-left{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
    span{
      font-size: 1.5rem;
      color: $green-color-accent;
      line-height: 2rem;
      span{
        display: block;
        text-align: center;
        padding: 1rem 4rem;
        line-height: 3rem;
      }
      p{
        display: inline;
        background-color: $green-color-secondary;
        font-weight: 700;
        color: $color-white;
        padding: 0.25rem 0.75rem;
        border-radius: 2rem;
      }
    }
  }
  &__card-right {
    img{
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 20rem;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}