@use "./../../styles/colors" as *;
@use "./../../styles/keyframes" as *;
@use "./../../styles/mixins" as *;

.navigation {
  position: sticky;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 75%;
  }
  &__icon {
    padding: 10px;
    border-radius: 20px;
    a {
      padding: 10px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;
      color: $green-color-primary;
      border: 1px solid transparent;
            @include tablet{
              border-radius: 12px;
              font-size: 10px;
              padding: 8px;
            }
      &:hover {
        color: $color-white;
        background-color: $green-color-primary;
        border: 1px solid $green-color-primary;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    @include tablet{
      width: 70%;
    }
    a {
      padding: 10px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;
      color: $green-color-primary;
      border: 1px solid transparent;
            @include tablet{
              border-radius: 12px;
              font-size: 10px;
              padding: 8px;
            }
      @include mobile{
        display: none;
      }
      &:hover {
        border: 1px solid $green-color-primary;
      }
    }
  }
  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1vw;
    padding: 10px;
    gap: 5px;
    @include tablet{
      display: none;
    }
    p {
      font-size: 16px;
      font-weight: 700;
      color: $green-color-primary;
      opacity: 0;
      animation: dotFadeIn 350ms ease-out forwards;
      &.navigation__dots-1 { animation-delay: 1s; }
      &.navigation__dots-2 { animation-delay: 2s; }
      &.navigation__dots-3 { animation-delay: 3s; }
      &.navigation__dots-4 { animation-delay: 4s; }
      &.navigation__dots-5 { animation-delay: 5s; }
      &.navigation__dots-6 { animation-delay: 6s; }
      &.navigation__dots-7 { animation-delay: 7s; }
      &.navigation__dots-8 { animation-delay: 8s; }
      &.navigation__dots-9 { animation-delay: 9s; }
      &.navigation__dots-10 { animation-delay: 10s; }
    }
  }
  &__hamburger-icon{
      width: 48px;
      height: 48px;
      color: $green-color-primary;

  }
  &__desktop-on{
    display: flex;
    @include mobile {
      display: none;
    }
  }
  &__mobile-on{
    display: none;
    @include mobile {
      display: flex;
    }
  }
}
