@use "./../../styles/colors" as *;
@use "./../../styles/keyframes" as *;
@use "./../../styles/mixins" as *;

.navigation {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem 0 4.5rem;
    height: 5rem;
    width: 100vw;

    background-color: $green-color-tertiary;
    @include small-desktop {
      font-size: 1.5rem;
      padding: 1rem 3.5rem 1rem 3.25rem;
      height: 2.25rem;
    }
    @include tablet {
      font-size: 1.1rem;
      padding: 1rem 2.25rem 1rem 2rem;
      height: 2.5rem;
    }
    @include mobile {
      font-size: 2rem;
      padding: 0 2rem;
      height: 5rem;
    }
  }
  &__icon {
    margin: 1.5rem;
    border-radius: 2rem;
    border: 2px solid $green-color-tertiary;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: $color-white;
    cursor: pointer;
    &:hover {
      border: 2px solid $color-white;
    }
    @include small-desktop {
      padding: 0.5rem;
      margin: 0;
      font-size: 1.75rem;
    }
    @include tablet {
      font-size: 1.5rem;
      padding: 0.5rem;
      margin: 0;
    }
    @include mobile {
      font-size: 1.75rem;
      padding: 0.25rem 0.5rem;
      margin: 0;
    }
    a {
    }
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    @include small-desktop {
      width: 65%;
    }
    @include tablet {
      width: 65%;
    }
    a {
      padding: 0.75rem;
      border-radius: 2rem;
      font-size: 1rem;
      font-weight: 700;
      color: $color-white;
      border: 2px solid transparent;
      cursor: pointer;
      @include small-desktop {
        padding: 0.5rem;
        border-radius: 1.5rem;
        font-size: 0.75rem;
      }
      @include tablet {
        padding: 0.4rem;
        border-radius: 1.25rem;
        font-size: 0.75rem;
      }
      &:hover {
        border: 2px solid $color-white;
      }
    }
  }
  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 2vw;
    padding: 0 0 0.25rem;
    gap: 0.25rem;

    @include small-desktop {
      width: 3.5vw;
    }
    @include tablet {
      display: none;
    }
    p {
      font-size: 2rem;
      font-weight: 700;
      color: $color-white;
      opacity: 0;
      @include small-desktop {
        font-size: 1.5rem;
      }
      //animation: dotFadeIn 350ms ease-out forwards;
      animation: dotFade 2s ease-in-out;
      &.navigation__dots-1 {
        animation-delay: 1s;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 1rem;
          transform: rotate(90deg);
          fill: $color-white;
          @include small-desktop {
            margin-top: 0.75rem;
          }
        }
      }
      &.navigation__dots-2 {
        animation-delay: 2s;
        svg {
          height: 1rem;
          width: 1rem;
          transform: scaleX(-1) rotate(-90deg);
          margin-bottom: 1rem;
          fill: $color-white;
          @include small-desktop {
            margin-bottom: 0.25rem;
          }
        }
      }
      &.navigation__dots-3 {
        animation-delay: 3s;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 1rem;
          transform: rotate(90deg);
          fill: $color-white;
          @include small-desktop {
            margin-top: 0.75rem;
          }
        }
      }
      &.navigation__dots-4 {
        animation-delay: 4s;
        svg {
          height: 1rem;
          width: 1rem;
          transform: scaleX(-1) rotate(-90deg);
          margin-bottom: 1rem;
          fill: $color-white;
          @include small-desktop {
            margin-bottom: 0.25rem;
          }
        }
      }
      &.navigation__dots-5 {
        animation-delay: 5s;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 1rem;
          transform: rotate(90deg);
          fill: $color-white;
          @include small-desktop {
            margin-top: 0.75rem;
          }
        }
      }
      &.navigation__dots-6 {
        animation-delay: 6s;
        svg {
          height: 1rem;
          width: 1rem;
          transform: scaleX(-1) rotate(-90deg);
          margin-bottom: 1rem;
          fill: $color-white;
          @include small-desktop {
            margin-bottom: 0.25rem;
          }
        }
      }
      &.navigation__dots-7 {
        animation-delay: 7s;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 1rem;
          transform: rotate(90deg);
          fill: $color-white;
          @include small-desktop {
            margin-top: 0.75rem;
          }
        }
      }
      &.navigation__dots-8 {
        animation-delay: 8s;
        svg {
          height: 1rem;
          width: 1rem;
          transform: scaleX(-1) rotate(-90deg);
          margin-bottom: 1rem;
          fill: $color-white;
          @include small-desktop {
            margin-bottom: 0.25rem;
          }
        }
      }
      &.navigation__dots-9 {
        animation-delay: 9s;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 1rem;
          transform: rotate(90deg);
          fill: $color-white;
          @include small-desktop {
            margin-top: 0.75rem;
          }
        }
      }
      &.navigation__dots-10 {
        animation-delay: 10s;
        svg {
          height: 1rem;
          width: 1rem;
          transform: scaleX(-1) rotate(-90deg);
          margin-bottom: 1rem;
          fill: $color-white;
          @include small-desktop {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
  &__hamburger {
    &-icon {
      width: 4rem;
      height: 4rem;
      color: $color-white;
    }
  }
  &__mobile-nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    inset: 0;
    background-color: $green-color-tertiary;
    &-header{
      display: flex;
      justify-content: right;
      padding: 1.25rem 2.5rem;
    }
    &-close{
      display: flex;
      background: none;
    }
    svg{
      height: 2.5rem;
      width: 2.5rem;
      fill: $color-white;
    }
    &-links{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80vw;
      padding: 4rem 3rem;
      gap: 2rem;
    }
    a{
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      color: $color-white;
      padding: 0.5rem;
      
      &:hover{
        color: $green-color-secondary;
        cursor: pointer;
      }
    }
  }
  &__desktop-on {
    display: flex;
    @include mobile {
      display: none;
    }
  }
  &__mobile-on {
    display: none;
    @include mobile {
      display: flex;
    }
  }
}
