@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;

.contact {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  border-radius: 2rem;
  @include tablet {
    margin: 0 auto;
    width: 100vw;
  }
  @include mobile {
    padding: 1rem 0rem;
    margin: 2rem 0;
    width: auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    padding: 4rem 0;
    width: 96%;
    @include small-desktop {
      width: 93%;
    }
    @include tablet {
      width: 70%;
    }
    @include mobile{
        width: 90vw;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: $green-color-primary;
    padding-bottom: 4rem;
    @include tablet {
      font-size: 3rem;
      padding: 1rem 0 3rem;
    }
    @include mobile {
      font-size: 2rem;
      padding: 0.5rem 0 2rem;
    }
  }
  &__card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @include tablet {
      flex-direction: column;
    }
    &-other {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 33vw;
      gap: 1rem;
      @include tablet {
        justify-content: center;
        width: 100%;
      }
    }
    &-find {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 1rem;
      background-color: $green-color-primary;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transition: transform 0.5s ease;
      @include tablet {
        justify-content: center;
        align-self: center;
        width: 70%;
      }
      @include mobile {
        width: 92%;
      }
      &:hover {
        background-color: $green-color-secondary;
        transform: scale(1.02);
      }
      &-text {
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 700;
        align-self: center;
      }
    }
    &-link {
      svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-white;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      width: 66vw;
      background-color: $green-color-primary;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      @include tablet {
        width: auto;
      }
      label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 0 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: $color-white;
      }
      input {
        margin: 0 0 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: $color-white;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
      }
      &-submit {
        color: $color-white;
        width: 9vw;
        align-self: center;
        text-align: center;
        padding: 1rem 1rem;
        margin: 2rem 0 0;
        color: $green-color-primary;
        font-weight: 700;
        font-size: 1.5rem;
        background-color: $color-white;
        border-radius: 1rem;
        transition: transform 0.5s ease;
        @include small-desktop {
          width: 15vw;
        }
        @include tablet {
          width: 17vw;
        }
        @include mobile{
            width: 30vw;
        }
        &:hover {
          color: $color-white;
          background-color: $green-color-secondary;
          transform: scale(1.1);
        }
      }
    }
    &-message {
      font-family: inherit;
      height: 10rem;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 0.5rem;
      border: none;
    }
    &-sent {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      font-size: 3rem;
      font-weight: 700;
      color: $color-white;
      @include tablet{
        font-size: 2.25 rem;
      }
      @include mobile{
        font-size: 1.75rem;
      }
    }
  }
}
