@use "./../../styles/colors" as *;
@use "./../../styles/mixins" as *;

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: $green-color-tertiary;
    padding: 0 6rem 1rem;
    color: $color-white;
    @include mobile {
      padding: 0 2rem 1rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    padding: 4rem 0 0;
    gap: 4rem;
    @include tablet {
      padding: 4rem 0 2rem 0;
    }
    @include mobile {
      flex-direction: column;
      padding: 2rem 0;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 33vw;
    gap: 2rem;
    @include tablet{
      width: 70%;
    }
    @include mobile {
      width: 100%;
    }
    span {
      letter-spacing: -5%;
    }
  }
  &__header {
    font-size: 4rem;
    font-weight: 500;
    @include mobile {
      font-size: 3rem;
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__info {
    width: 85%;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: -1rem;
    padding-left: 1rem;
    letter-spacing: 5%;
    @include small-desktop {
      text-indent: 0rem;
      padding: 0;
    }
    @include tablet {
      text-align: left;
    }
    @include mobile {
      width: 100%;
      text-align: justify;
    }
    span {
      font-size: 2rem;
      font-weight: 700;
      color: $green-color-secondary-light;
    }
  }
  &__socials {
    display: flex;
    gap: 1rem;
    @include mobile {
      justify-content: center;
    }
    svg {
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
      background: $color-white;
      fill: $green-color-tertiary;
      border-radius: 1rem;
      &:hover {
        fill: $color-white;
        background: $green-color-secondary-light;
        cursor: pointer;
      }
    }
  }
  &__back-to-top {
    display: inline-block;
    align-self: flex-start;
    margin: 0;
    text-decoration: none;
    color: $green-color-tertiary;
    background-color: $color-white;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    @include mobile {
      align-self: center;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      color: $color-white;
      background-color: $green-color-secondary-light;
      cursor: pointer;
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    @include mobile {
      align-self: center;
      gap: 3rem;
    }
    @include tablet {
      flex-direction: column;
      justify-content: left;
      gap: 4rem;
    }
  }
  &__site-map,
  &__projects,
  &__pages {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include mobile {
      align-self: center;
      justify-content: center;
      gap: 1rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
    &-links{
      display: flex;
      justify-content: center;
    }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    li {
      list-style: none;
      padding: 1rem 0;
      @include mobile {
        align-self: center;
      }
    }
    a {
      font-weight: 500;
      color: inherit;
      &:hover {
        color: $green-color-secondary-light;
        cursor: pointer;
      }
    }
  }
  &__disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    @include small-desktop {
      padding: 3rem;
    }
    @include tablet {
      padding-bottom: 2rem;
    }
  }
  &__legal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0 1rem;
    border-top: 1px solid $green-color-accent;
    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }
  }
  &__counter {
  }
  &__rights {
  }
}
